<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Philippine Dengue Cases 2016 - 2020</title>
    {% include "header.html" %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row g-2 text-muted">
                    <!-- Dengue Cases -->
                    <div class="col-12 col-md-3">
                        <div class="border rounded p-3">
                            <h1>45,300</h1>
                            <p>Dengue Cases</p>
                        </div>
                    </div>
                    <!-- Dengue Death -->
                    <div class="col-12 col-md-3">
                        <div class="border rounded p-3">
                            <h1>2,300</h1>
                            <p>Dengue Deaths</p>
                        </div>
                    </div>
                    <!-- Most Cases -->
                    <div class="col-12 col-md-3">
                        <div class="border rounded p-3">
                            <h1>11,000</h1>
                            <p>Most Cases</p>
                        </div>
                    </div>
                    <!-- Least Cases -->
                    <div class="col-12 col-md-3">
                        <div class="border rounded p-3">
                            <h1>100</h1>
                            <p>Least Cases</p>
                        </div>
                    </div>
    
                    <!-- Year Filter Buttons -->
                    <div class="col-12 col-md-2 d-flex flex-column">
                        <button class="m-2 btn btn-light">All</button>
                        <button class="m-1 btn btn-outline-secondary">2016</button>
                        <button class="m-1 btn btn-outline-secondary">2017</button>
                        <button class="m-1 btn btn-outline-secondary">2018</button>
                        <button class="m-1 btn btn-outline-secondary">2019</button>
                        <button class="m-1 btn btn-outline-secondary">2020</button>
                    </div>
    
                    <!-- Cases Chart -->
                    <div class="col-12 col-md-10">
                        <div id="casesChart" class="border rounded p-3">
                            <!-- Chart will be rendered here -->
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="container" style="width: 80%; margin: auto; padding: 20px;">
                            <h2 style="text-align: center;">Dengue Cases Heatmap - Philippine Regions</h2>
                            <div id="heatmap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% include "footer.html" %}
</body>
</html>